{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem eaque aspernatur voluptatibus corrupti suscipit aut quis consequuntur inventore eum in, hic, possimus pariatur esse impedit incidunt repellat dolores omnis qui nisi rerum. Nihil enim tempora facilis quo, quod dolorem unde nobis ratione sapiente. Enim reiciendis quaerat reprehenderit eveniet aliquam tenetur.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut officia quos quibusdam suscipit at asperiores ab facilis nulla animi saepe laudantium sequi unde accusamus quasi hic nostrum, consectetur placeat ipsa sapiente ipsam, aliquam, voluptates autem!</p>
</div>

{% endblock content %}